<title>Education</title>
<div class="card text-white bg-success">
  <div class="card-header clearfix">
    <h3 class="card-title float-left">Master&apos;s degree</h3>
    <div class="btn-group float-right" role="group" aria-label="...">
      <fa class="padding-top-6" name="university"></fa>
    </div>
  </div>
  <div class="card-body">
    <p>University of Maribor</p>
    <p>Feri - Faculty of Electrical Engineering and Computer Science</p>
    <p>Informatics and Technologies of Communication</p>
    <p>Maribor, Slovenia</p>
    <p>2013-2017</p>
    <p>
      <a class="text-light" style="float: right" href="https://dk.um.si/IzpisGradiva.php?id=66052&amp;lang=slv">
        <fa name="book"></fa>
      </a>
      <span style="float: left">Final work</span>
    </p>
  </div>
</div>
<br>
<div class="card text-white bg-success">
  <div class="card-header clearfix">
    <h3 class="card-title float-left">Bachelor&apos;s degree</h3>
    <div class="btn-group float-right" role="group" aria-label="...">
      <fa class="padding-top-6" name="university"></fa>
    </div>
  </div>
  <div class="card-body">
    <p>University of Primorska</p>
    <p>Famnit - Faculty of Mathematics, Natural Sciences and Information Technologies</p>
    <p>Koper, Slovenia</p>
    <p>Computer science</p>
    <p>2010-2013</p>
    <p>
      <a class="text-light" style="float: right" href="https://repozitorij.upr.si/IzpisGradiva.php?id=6407&amp;lang=slv">
        <fa name="book"></fa>
      </a>
      <span style="float: left">Final work</span>
    </p>
  </div>
</div>
<br>
<div class="card text-white bg-info">
  <div class="card-header clearfix">
    <h3 class="card-title float-left">Erasmus+ exchange</h3>
    <div class="btn-group float-right" role="group" aria-label="...">
      <fa class="padding-top-6" name="university"></fa>
    </div>
  </div>
  <div class="card-body">
    <p>Universit&#xE0; degli studi Salerno</p>
    <p>Dipartimento di informatica</p>
    <p>Salerno, Italia</p>
    <p>2016</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <div class="panel-group" id="accordion" role="tablist">
      <div class="card">
        <div class="card-header clearfix" role="tab" id="headingOne">
          <h4 class="card-title float-left">
            Achievements</h4>
          <div class="btn-group float-right" role="group" aria-label="...">
            <fa class="padding-top-6" name="trophy"></fa>
          </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body">
            <div class="card text-white bg-primary">
              <div class="card-header clearfix">PRIMATIJADA 2013</div>
              <div class="card-body">
                <p>1st place - Best computer science project.</p>
                <p>The project was based on Rasperry Pi, that was connected to a proto-board with a RFID reader on it and an
                  electric lock. The system would read RFID cards and chips and recognize them. It would then match the card
                  to those stored in a database and check if the user has access or not.</p>
                <p>But also was added feature, to unlock the electric lock via a web interface (running on the RasPi), secured
                  by a 2FA (SMS) and accessible via local network only.</p>
              </div>
            </div>
            <br>
            <div class="card text-white bg-primary">
              <div class="card-header">Open International Student Olympiad</div>
              <div class="card-body">
                <p>3rd place</p>
                <p>Internet Olympiad7</p>
                <p>In Informatics</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>