<title> Education </title>
<div class="panel panel-success">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Bachelor's degree</h3>
    <div class="btn-group pull-right" role="group" aria-label="...">
        <fa name="university"></fa>          
    </div>
  </div>
  <div class="panel-body">
    <p>University of Primorska</p>
    <p>Famnit - Faculty of Mathematics, Natural Sciences and Information Technologies</p>
    <p>Koper, Slovenia</p>
    <p>Computer science</p>
    <p>2010-2013</p>
    <p>
        <a style="float: right" href="https://repozitorij.upr.si/IzpisGradiva.php?id=6407&lang=slv"> <fa name="book"></fa>  </a>
        <span style="float: left">Final work</span>
      </p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Master's degree</h3>
    <div class="btn-group pull-right" role="group" aria-label="...">
        <fa name="university"></fa>          
    </div>
  </div>
  <div class="panel-body">
    <p>University of Maribor</p>
    <p>Feri - Faculty of Electrical Engineering and Computer Science</p>
    <p>Informatics and Technologies of Communication</p>
    <p>Maribor, Slovenia</p>
    <p>2013-2017</p>
    <p>
      <a style="float: right" href="https://dk.um.si/IzpisGradiva.php?id=66052&lang=slv"> <fa name="book"></fa>  </a>
      <span style="float: left">Final work</span>
    </p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Erasmus+ exchange student</h3>
    <div class="btn-group pull-right" role="group" aria-label="...">
        <fa name="university"></fa>          
    </div>
  </div>
  <div class="panel-body">
    <p>Università degli studi Salerno</p>
    <p>Dipartimento di informatica</p>
    <p>Salerno, Italia</p>
    <p>2016</p>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="panel-group" id="accordion" role="tablist">
        <div class="panel panel-default">
          <div class="panel-heading clearfix" role="tab" id="headingOne">
            <h4 class="panel-title pull-left">
                Achievements</h4>
            <div class="btn-group pull-right" role="group" aria-label="...">
              <fa name="trophy"></fa>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="panel panel-primary">
                <div class="panel-heading clearfix"> PRIMATIJADA 2013 </div>
                <div class="panel-body"> 
                  <p>1st place - Best computer science project.</p>
                  <p>The project was based on Rasperry Pi, that was connected to a proto-board with a RFID reader on it and an electric lock. The system would read RFID cards and chips and recognize them. It would then match the card to those stored in a database and check if the user has access or not.</p>
                  <p>But also was added feature, to unlock the electric lock via a web interface (running on the RasPi), secured by a 2FA (SMS) and accessible via local network only.</p>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">Open International Student Internet-Olympiad</div>
                <div class="panel-body"> 
                  <p>3rd place</p>
                  <p>In Informatics</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>