<div>
  <div class="jumbotron jumbotron-color">
    <div class="row ">
      <div class="image col-md-4 col-sm-6" style="max-width: 200px;">
        <img src="../../assets/profile.jpg" class="img img-fluid full-width fade">
      </div>
      <div class="col-md-4 col-sm-6 color">
        <h1>{{name}} {{surname}}</h1>
        <h4>{{position}}</h4>
        <h5>{{location}}</h5>
      </div>
      <div class="col-md-4 hidden-xs hidden-sm"></div>
    </div>
  </div>
</div>
<div class="row"></div>
<div class="jumbotron container-fluid jumbotron-color ">
  <h1> Welcome to my spot of the internet</h1>
  <p> Let me introduce myself to you, I&apos;m Andrej Godec a software developer.</p>
  <p> I am a technology enthusiast <fa name="cog" animation="spin"></fa>.</p>
  <p>I like to travel all around the word.</p>
  <p>I&apos;m also preaparing to start my own blog.</p>
</div>
<div class="row align-items-center justify-content-center">
  <div>
    <a href="https://www.linkedin.com/in/andrej-godec/">
      <fa name="linkedin-square" size="2x"></fa>
    </a>
    <a href="https://github.com/andrejgodec">
      <fa name="github-square" size="2x"></fa>
    </a>
    <a href="mailto:andrej.godec0@gmail.com?Subject=godecus">
      <fa name="envelope-square" size="2x"></fa>
    </a>
  </div>
</div>