<div class="panel panel-success">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Current work</h3>
    <div class="btn-group pull-right" role="group" aria-label="...">
        <fa name="desktop"></fa>          
    </div>
  </div>
  <div class="panel-body">
    <p>Software Engineer</p>
    <small> Full stack developer (C# & JavaScript)
      <p></p>
    </small>
    <p>2017-present</p>
    <p>
      <a style="float: right" href="http://www.actual.si/"> <fa name="tasks"></fa>  </a>
      <span style="float: left">Actual I.T. d.d.</span>
    </p>
  </div>
</div>