<div class="content align-items-center justify-content-center">
    <div class="col-sm-10 offset-sm-1">
        <h2>Current work</h2>
        <div class="card text-white bg-success">
            <div class="card-header clearfix">
                <h3 class="card-title float-left">IBM</h3>
                <div aria-label="..." class="btn-group float-right" role="group">
                    <fa class="padding-top-6" name="desktop" ><i  aria-hidden="true"
                            class="fa fa-desktop"></i></fa>
                </div>
            </div>
            <div class="card-body">
                <p>Application consultant</p>
                <p>IBM cloud</p>
                <small>
                    <!-- <ul>
                        <li>Angular</li>
                        <li>VueJS</li>
                        <li>Node.js</li>
                        <li>JavaScript/TypeScript</li>
                        <li>GIT</li>
                    </ul> -->
                </small>
                <span style="float: left">2019-present</span>
                <p><a class="text-light" href="https://www.ibm.com" style="float: right">
                        <fa name="tasks" ><i  aria-hidden="true" class="fa fa-tasks"></i>
                        </fa>
                    </a>
                </p>
            </div>
        </div><br>
        <h2>Past work</h2>
        <div class="card text-white bg-error">
            <div class="card-header clearfix">
                <h3 class="card-title float-left">Umwerk GmbH</h3>
                <div aria-label="..." class="btn-group float-right" role="group">
                    <fa class="padding-top-6" name="desktop" ><i  aria-hidden="true"
                            class="fa fa-desktop"></i></fa>
                </div>
            </div>
            <div class="card-body">
                <p>Frontend Developer</p>
                <small>
                    <ul>
                        <li>Angular</li>
                        <li>VueJS</li>
                        <li>Node.js</li>
                        <li>JavaScript/TypeScript</li>
                        <li>GIT</li>
                    </ul>
                </small>
                <span style="float: left">2018-2019</span>
                <p><a class="text-light" href="https://www.umwerk.com/en/" style="float: right">
                        <fa name="tasks" ><i  aria-hidden="true" class="fa fa-tasks"></i>
                        </fa>
                    </a>
                </p>
            </div>
        </div>
        <div style="padding-bottom: 2rem;"></div>
        <div class="card text-white bg-error">
            <div class="card-header clearfix">
                <h3 class="card-title float-left">Actual I.T. d.d</h3>
                <div aria-label="..." class="btn-group float-right" role="group">
                    <fa class="padding-top-6" name="desktop" ><i  aria-hidden="true"
                            class="fa fa-desktop"></i></fa>
                </div>
            </div>
            <div class="card-body">
                <p>Software Engineer - Full stack developer</p>
                <small>
                    <ul>
                        <li>C#</li>
                        <li>JavaScript/TypeScript</li>
                        <li>AngularJS</li>
                        <li>GIT</li>
                    </ul>
                </small>
                <span style="float: left">2017-2018 </span>
                <p><a class="text-light" href="http://www.actual.si/" style="float: right">
                        <fa name="tasks" ><i  aria-hidden="true" class="fa fa-tasks"></i>
                        </fa>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>