<div class="card text-white bg-success">
    <div class="card-header clearfix">
        <h3 class="card-title float-left">Current work</h3>
        <div class="btn-group float-right" role="group" aria-label="...">
            <fa class="padding-top-6" name="desktop"></fa>
        </div>
    </div>
    <div class="card-body">
        <p>Software Engineer</p>
        <small> Full stack developer (C# &amp; JavaScript)
            <p></p>
        </small>
        <p>2017-present</p>
        <p>
            <a class="text-light" style="float: right" href="http://www.actual.si/">
                <fa name="tasks"></fa>
            </a>
            <span style="float: left">Actual I.T. d.d.</span>
        </p>
    </div>
</div>