<div class="grid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel-group" id="accordion" role="tablist">
        <div class="panel panel-default">
          <div class="panel-heading clearfix" role="tab" id="headingOne">
            <h4 class="panel-title pull-left">IT skills</h4>
            <div class="btn-group pull-right" role="group" aria-label="...">
              <fa name="terminal"></fa>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                  <h3 class="panel-title">HTML5</h3>
                </div>
                <div class="panel-body">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success animated" style="width: 80%"></div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">JavaScript</h3>
                </div>
                <div class="panel-body">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 65%"></div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">AngularJS & Angular</h3>
                </div>
                <div class="panel-body">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 65%"></div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Java</h3>
                </div>
                <div class="panel-body">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">C#</h3>
                </div>
                <div class="panel-body">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 50%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel-group" id="accordion" role="tablist">
        <div class="panel panel-default">

          <div class="panel-heading clearfix" role="tab" id="headingOne">
            <h4 class="panel-title pull-left">
              Languages</h4>
            <div class="btn-group pull-right" role="group" aria-label="...">
              <fa name="language"></fa>
            </div>
          </div>

          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="panel panel-primary">
                <div class="panel-heading clearfix"> Slovenian</div>
                <div class="panel-body"> Native Proficiency </div>
              </div>
              <br/>
              <div class="panel panel-primary">
                <div class="panel-heading">Italian</div>
                <div class="panel-body"> Professional Working Proficiency </div>
              </div>
              <br/>
              <div class="panel panel-primary">
                <div class="panel-heading">English</div>
                <div class="panel-body"> Full Professional Proficiency</div>
              </div>
              <br/>
              <div class="panel panel-primary">
                <div class="panel-heading">Croatian</div>
                <div class="panel-body"> Professional Working Proficiency </div>
              </div>
              <br/>
              <div class="panel panel-primary">
                <div class="panel-heading">Serbian</div>
                <div class="panel-body"> Professional Working Proficiency </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>