<div class="grid">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel-group" id="accordion" role="tablist">
        <div class="card">
          <div class="card-header clearfix" role="tab" id="headingOne">
            <h4 class="card-title float-left">IT skills</h4>
            <div class="btn-group float-right" role="group" aria-label="...">
              <fa class="padding-top-6" name="terminal"></fa>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="card text-white bg-primary">
                <div class="card-header clearfix">
                  <h3 class="card-title">HTML5</h3>
                </div>
                <div class="card-body">
                  <div class="progress">
                    <div class="progress-bar bg-success animated" style="width: 85%"></div>
                  </div>
                </div>
              </div>
              <br>
              <div class="card text-white bg-primary">
                <div class="card-header clearfix">
                  <h3 class="card-title">CSS/Sass/LESS</h3>
                </div>
                <div class="card-body">
                  <div class="progress">
                    <div class="progress-bar bg-success animated" style="width: 85%"></div>
                  </div>
                </div>
              </div>
              <br>
              <div class="card text-white bg-primary">
                <div class="card-header">
                  <h3 class="card-title">JavaScript/TypeScript</h3>
                </div>
                <div class="card-body">
                  <div class="progress">
                    <div class="progress-bar bg-success" style="width: 70%"></div>
                  </div>
                </div>
              </div>
              <br>
              <div class="card text-white bg-primary">
                <div class="card-header">
                  <h3 class="card-title">AngularJS &amp; Angular</h3>
                </div>
                <div class="card-body">
                  <div class="progress">
                    <div class="progress-bar bg-success" style="width: 65%"></div>
                  </div>
                </div>
              </div>
              <br>
              <div class="card text-white bg-primary">
                <div class="card-header">
                  <h3 class="card-title">Java</h3>
                </div>
                <div class="card-body">
                  <div class="progress">
                    <div class="progress-bar bg-success" style="width: 40%"></div>
                  </div>
                </div>
              </div>
              <br>
              <div class="card text-white bg-primary">
                <div class="card-header">
                  <h3 class="card-title">C#</h3>
                </div>
                <div class="card-body">
                  <div class="progress">
                    <div class="progress-bar bg-success" style="width: 50%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel-group" id="accordion" role="tablist">
        <div class="card">
          <div class="card-header clearfix" role="tab" id="headingOne">
            <h4 class="card-title float-left">Languages</h4>
            <div class="btn-group float-right" role="group" aria-label="...">
              <fa class="padding-top-6" name="language"></fa>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="card text-white bg-primary">
                <div class="card-header clearfix">Slovenian</div>
                <div class="card-body">Native Proficiency</div>
              </div>
              <br>
              <div class="card text-white bg-primary">
                <div class="card-header">Italian</div>
                <div class="card-body">Professional Working Proficiency</div>
              </div>
              <br>
              <div class="card text-white bg-primary">
                <div class="card-header">English</div>
                <div class="card-body">Full Professional Proficiency</div>
              </div>
              <br>
              <div class="card text-white bg-primary">
                <div class="card-header">Croatian</div>
                <div class="card-body">Professional Working Proficiency</div>
              </div>
              <br>
              <div class="card text-white bg-primary">
                <div class="card-header">Serbian</div>
                <div class="card-body">Professional Working Proficiency</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>