<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">{{name}} {{surname}}</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="navbar-brand" routerLinkActive="active">
              <a routerLink="/about">About</a>
            </li>
            <li class="navbar-brand" routerLinkActive="active">
              <a routerLink="/edu">Education</a>
            </li>
            <li class="navbar-brand" routerLinkActive="active">
              <a routerLink="/work">Work</a>
            </li>
            <li class="navbar-brand" routerLinkActive="active">
              <a routerLink="/skills">Skills</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
    <small>Copyright © 2017-2018 All Rights Reserved</small>
  </div>
</div>