.nav>li>a {
   position: initial;
   display: initial;
   padding: initial;
}

.navbar{
  margin-bottom: 10px;
  z-index: 1040;
}

.navbar-nav{
  flex-direction: initial;
}

// .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
//   color: #0ce3ac;
//   background-color: initial; 
// }

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }