/* You can add global styles to this file, and also import other style files */

.card-header{
    height: 45px;
    padding-bottom: 5px;
    padding-left: 17px;
    padding-top: 7px;
}

.padding-top-6{
    padding-top: 5px;
}